.character-drop-down-form {
  display: flex;
  flex: auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0.75%;
  background-color: rgb(235, 38, 32, 0.95);
  color: white;
};