.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100vw;
  height: 5vh;
  background-color: rgb(255, 255, 255);
}

.header-text {
  font-size: 2em;
  font-weight: bolder;
  color: rgb(235, 38, 32);
};

.waldo-header-img {
  width: 2%;
  height: 2%;
}