.level-snap-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  overflow: scroll;
}

.level-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 30vw;
  height: 30vh;
  padding: 0.5%;
  margin: 1%;
  background-color: rgb(235, 38, 32);
  transition: all .2s ease-in-out;
}

.level-info-container {
  width: 30vw;
  height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 1.25em;
}

.level-container:hover {
  background-color: rgb(235, 38, 32, 0.75);
  transform: scale(1.1);
}

.view-leaderboard-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 5vh;
  margin-bottom: 2%;
  background-color: rgb(235, 38, 32);
  color: white;
  font-size: 1.25em;
}