@media (max-width: 500px) {
  .map-container {
    width: 100vw;
    height: 30vh;
  }
  .drop-down-form {
    width: 10vw;
    height: 10vh;
    font-size: 0.5em;
  }
  .level-info-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 38, 3, 0.9);
    width: 85vw;
    height: 5vh;
    margin-bottom: 2%;
    font-size: 1em;
  }
  .level-objectives-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 35vw;
  }
  .current-level-text, .level-objective-text {
    color: white;
    font-size: 0.9em;
  }
}

@media (min-width: 501px) {
  .map-container {
    width: 100vw;
    height: 70vh;
  }
  .level-info-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 38, 3, 0.9);
    width: 75vw;
    height: 5vh;
    margin-bottom: 2%;
  }
  .level-objectives-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
  }
  .current-level-text, .level-objective-text {
    color: white;
    font-size: 1.5em;
  }
}

.level-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-top: 2%;
  width: 100vw;
  height: 90vh;
}

.return-to-main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 4vh;
  margin-top: 1%;
  background-color: rgb(235, 38, 32);
  color: white;
  font-size: 0.75em;
}

.character-selection-response {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  width: 60vw;
  height: 3vh;
  font-size: 1em;
}

.response-success {
  background-color: #4CAF50;;
}

.response-fail {
  background-color: rgb(235, 38, 32);
}